:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  color: var(--color-text);
  background: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: var(--font-size-m); // 1.2rem
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--color-primary);
  font-family: var(--font-title);
}

h1 {
  font-size: var(--font-size-xxl); // 2.2rem
}
h2 {
  font-size: var(--font-size-xl); // 1.8rem
}
h3 {
  font-size: var(--font-size-l); // 1.4rem
}
h4 {
  font-size: var(--font-size-m); // 1.2rem
}

ul {
  list-style: none;
  padding-left: 0px;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-link);
  text-decoration: none;
  font-weight: 700;
  transition: all 0.15s ease-in-out;

  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
    transform: scale(1.03);
  }

  &:visited {
    color: var(--color-link-visited);
  }
}

// Forms
label {
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: var(--font-size-m);
}
input {
  background-color: var(--color-bg-input);
  color: var(--color-text);
  border: 1px solid var(--color-border-card);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-body);
  font-size: var(--font-size-m);

  &:focus {
    border-color: var(--color-primary);
    border-width: 0.2rem;
    outline: none;
  }
}
