.container {
  padding: 2.4rem;
  margin-top: var(--header-height);
  width: 100%;
}

.title {
  margin-bottom: 2rem;
}

.section {
  margin-bottom: 2.4rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.form {
  display: flex;
  gap: 0.8rem;
  margin-top: 1.2rem;
}

.error {
  color: var(--color-error);
  margin-top: 1.2rem;
}
