# Node.js
node_modules/
npm-debug.log

# Environment variables
.env

# Logs
logs/
*.log
coverage/

# Docker
**/node_modules
**/npm-debug.log
**/.env

# Build output
client-web/dist
client-mobile/.expo

# Scripts
reset-docker.sh
run-project.sh
start-db.sh

supchat-docs/
supchat-server/uploads/
