# Node.js
node_modules/
npm-debug.log

# Environment variables
.env
web/.env.secrets-to-move

# Logs
logs/
*.log
coverage/

# Docker
**/node_modules
**/npm-debug.log
**/.env

# Build output
web/dist
mobile/.expo

# Data persistence
data/

# Scripts
reset-docker.sh
run-project.sh
start-db.sh

api/uploads/
