@use "../../styles/breakpoints" as *;

.forgot-password-page {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100vh - var(--footer-height));
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--color-bg);

  h1 {
    font-family: var(--font-title);
    color: var(--color-primary);
    margin-bottom: 2.5rem;
    text-align: center;
  }

  form {
    padding: 2.5rem 2rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin-bottom: 0;

    @include mediaquery(xs) {
      width: 50rem;
      max-width: 50rem;
      background: var(--color-bg-card);
      box-shadow: var(--shadow-sm);
    }

    @include mediaquery(md) {
      width: 50rem;
      max-width: 50rem;
      background: var(--color-bg-card);
      box-shadow: var(--shadow-md);

      width: 100%;
      max-width: 40%;
      background: var(--color-bg-card);
      box-shadow: var(--shadow-md);
    }

    label {
      color: var(--color-text);
      margin-bottom: 0.8rem;
      font-family: var(--font-body);
      align-self: flex-start;

      &:last-of-type {
        margin-top: 2rem;
      }
    }

    input {
      width: 100%;
      max-width: 40rem;

      padding: 1rem;
      margin: 0;
      border: 1px solid var(--color-border-card);
      border-radius: 0.5rem;
      background-color: var(--color-bg-input);
      color: var(--color-text);
      font-family: var(--font-body);
      margin-bottom: 1rem;

      @include mediaquery(xs) {
        width: 100%;
        max-width: 100%;
      }

      &:focus {
        border-color: var(--color-primary);
        outline: none;
      }
    }

    button {
      width: 100%;
      margin-top: 1rem;
      font-weight: 700;

      &:hover {
        background: var(--color-link-hover);
      }
    }
  }

  p {
    margin-top: 0;
  }

  a {
    margin-top: 2rem;
  }
}
